<section id="trainer" class="grid">
    <div>
        <input type="file" name="trainer-profile" id="trainer-profile">
        <div>
            <label for="trainer-hp">HP</label>
            <input type="text" name="trainer-hp">
        </div>
        <div>
            <label for="trainer-will">Will</label>
            <input type="text" name="trainer-will">
        </div>
    </div>
    <div>
        <input type="text">
        <input type="text">
        <input type="text">
        <div>
            
        </div>
    </div>
</section>
<section id="trainer-attributes" class="grid">
    <radio-group title="Attribute" class="test" maxvalue="10" value="5"></radio-group>
</section>
<check-note>test</check-note>
<check-note>Das is eine andere check-note</check-note>